body {
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 40px;
    padding: 20px;
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto 20px;
}

.welcome-text {
    color: #f47c20; /* Orange SABIC */
    margin-bottom: 30px;
}

form input[type="text"] {
    padding: 10px;
    margin: 5px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

form button {
    background-color: #005cab; /* Blue SABIC */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.message {
    margin-top: 30px;
    color: #005cab;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f47c20;
    color: white;
}

td {
    background-color: #f1f1f1;
}
